.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  color: #ffffff;
}
.btn-logout {
  cursor: pointer;
}
.btn-find-job {
  cursor: pointer;
}
